body {
    background-color: rgba(171, 170, 170, 0.497);
    font-size: 15pt;
}

h1 {
    text-align: center;
} 

h2{
    color: darkgoldenrod;
}

a{
    text-decoration: none;
}

section {
    background-color: white;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.361);
    padding: 15px;
}

table, th, tr, td {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 8px;
    text-align: center;
    margin: auto;
}


p {
    margin: 8px;
}

a {
    color: black;
} 

footer {
    text-align: center;
}

a, a:visited {
    color: rgb(34, 34, 34);
    font-weight: bolder;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: none;
}