@import url('https://fonts.googleapis.com/css2?family=Modak&family=Sarala:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

:root{

    --cor1: #04ADBF;
    --cor2: #2DBA92;
    --cor3: #bdb8b8e7;
    --cor4: #e6e4ce;

    --fonte-padrao: 'Sarala', sans-serif;
    --fonte-h1: 'Cairo';
} 

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor4);
    background-image: url(imagem/opi3.gif);
    margin: auto;
}

.container{
    background-color: var(--cor3);
}

header{
    padding: 5px;
    text-align: center;
    height: 40px;
}

nav{
    display: flex;
    margin-top: 13px;
    padding: 6px;
    padding-left: 30px;
}

nav a{
    float: left;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
    background-color: var(--cor3);
    color: blue;
}

nav a.ativo{
    background-color: red;
    color: white;
}

main{
    height: 100%;
}

h1{ 
    text-align: center;
    display: inline-block;
    margin: 15px;
    font-family: var(--fonte-h1);
}

h2{
    font-family: var(--fonte-padrao);
    color: var(--cor1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.477);
    font-size: 2.3em;
    text-align: center;   
}

p{
    text-align: justify;
}

#analizador{
    font-size: 1.4em;
}

.analiza{
    display: inline-block;
    font-size: 14px;
}

#resposta{
    display: block;
}

section{
    background-color: var(--cor2);
    margin: auto;
    max-width: 950px;
}

section#contador{
    text-align: center;
}

select#lista {
    width: 150px;
    margin-top: 25px;
}

.itens{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
    padding: 30px 10px;
}

section.console{
    background-color: white;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    width: 400px;
    min-height: 350px;
    padding: 15px;
}

table{
    padding-left: 5px;
}

.calculadora__btn{
    width: 70px;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: var(--cor9);
}

.calculadora__btn:hover{
    background-color: var(--cor2);
    color: #ffffff;
}

#resultado{
    box-sizing: border-box;
    text-align: center;    
    margin-left: 29px;
    margin-right: 32px;
    background-color: var(--cor2);
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
} 

footer{
    color: white;
    background-color: rgb(165, 149, 149);
    text-align: center;
    padding: 10px;
}