:root{
    --cor1: #e6e4ce;
    --cor2: #ede3e9;
    --cor3: #bccce0;
    --cor4: #ec058e;
    --cor5: #bdb8b88c;
} 
body{
    background-color: var(--cor1);
    margin: auto;
}

header{
    background-color: var(--cor5);
    border-radius: 3px;
    padding: 15px;
    text-align: center;
}

main{
    height: 100%;
}

h1{ 
    text-align: center;
    display: inline-block;
    margin: auto;
}

nav{
    overflow: hidden;
    background-color: var(--cor5);
}

nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 90px;
}

nav a:hover{
    background-color: var(--cor5);
    color: blue;
}

nav a.ativo{
    background-color: red;
    color: white;
}

/* p.buttonvoltar{
    display: inline-block;
    -webkit-user-select: none;
    margin: auto;
    background-color: var(--cor4);
    transition: background-color 300ms;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
} */

section{
    background-color: var(--cor4);
    padding: 20px;
    margin: auto;
    max-width: 900px;
    text-align: center;
}

section#contador{
    text-align: center;
}

section.console{
    display: inline-block;
    max-width: 500px;
    min-width: 370px;
    min-height: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.349);
    padding: 10px;
    background-color: white;
}

footer{
    color: white;
    background-color: gray;
    text-align: center;
    padding: 1px;
}