body {
    background-color: rgba(171, 170, 170, 0.497);
}

h1 {
    text-align: center;
} 

/* h2 {
    
} */

section {
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.361);
    padding: 15px;
}

table, th, tr,td {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 8px;
    text-align: center;
    margin: auto;
}


p {
    margin: 8px;
}

footer {
    text-align: center;
}