/* analizador */
#analizador{
    font-size: 1.4em;
}

.analiza{
    display: inline-block;
    font-size: 14px;
}

#resposta{
    display: block;
}

select#lista {
    width: 150px;
    margin-top: 25px;
}