/* calculadora */
table{
    padding-left: 5px;
}

.calculadora__btn{
    width: 70px;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: var(--cor9);
}

.calculadora__btn:hover{
    background-color: var(--cor2);
    color: #ffffff;
}

#resultado{
    box-sizing: border-box;
    text-align: center;    
    margin-left: 29px;
    margin-right: 32px;
    background-color: var(--cor2);
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
}