/* jogo da velha */
#jogo-da-velha{
    text-align: center;
}

span#jogador-atual{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    align-self: start;
}

#tabuleiro{
    display: inline-block;
    margin-top: 15px;
}

.celula{
    width: 80px;
    height: 80px;
    border: 2px solid var(--cor1);
    display: inline-block;
    font-size: 60px;
    line-height: 80px;
    cursor: pointer;
}

.celula:hover{
    background-color: var(--cor2);
    color: white;
}